:local(.top) {
  height: 26px;
  margin: 5px;
  border: 3px inset #EEE;
  background-color: #BBB;
  text-align: center;
  font-size: 22px;
}

:local(.minesRemaining) {
  float: left;
}

:local(.status) {
  height: 26px;
  width: 26px;
  padding-right: 30px;
  background-repeat: no-repeat;
}

:local(.timer) {
  float: right;
}
