:local(.outer) {
  margin: auto auto;
  top: 4px;
  border-width: 1px;
  border-style: outset;
  background-color: #BBB;
  padding: 1px;
}

:local(.middle) {
  border: 3px outset #EEE;
  background-color: #BBB;
}

:local(.inner) {
  height: 26px;
  margin: 5px;
  border: 3px inset #EEE;
  background-color: #BBB;
  text-align: center;
  font-size: 22px;
}

:local(.status) {
  height: 26px;
  width: 26px;
  float: left;
  background-repeat: no-repeat;
}

:local(.dead) {
  background-image: url(data:image/gif;base64,R0lGODlhGgAaALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAAGgAaAAAEixDJSaulB73Nu/8bID1HaZ5oioha6r7r+AI0DbMkSi88b6Ox1gnQK/qAuKFxCTgFcwfigiidWqemp6la9fWaJW30e7Vyw8nxco3NpLvsL1qmjhfBYnhtd58L63pyflBScF5tbnQlhkZggzpxjo86epKTKXuWWWkvnZeeNyMXoxcsmaeopwgZpK0VEQAAOw==);
}

:local(.won) {
  background-image: url(data:image/gif;base64,R0lGODlhGgAaALMAAAAAAIAAAACAAICAAAAAgIAAgACAgMDAwICAgP8AAAD/AP//AAAA//8A/wD//////ywAAAAAGgAaAAAEkBDJSaulB73Nu/8bID1HaZ5oioha6r7r+AI0DbMkSi88b6Ox1gnQK/qAuKFxCTgFcwfikml6mqS17G7RLFmjvixXzPUmwUSxupw5bwfb8SBsloGn0+5Xijfqz3dcfj1dbXaBYzVFhV8lfHiFhkJXfZGSUFePYyqAOlk3hy+il6OlTxeoFyxarK2sCBmpshURAAA7);
}
